<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/list-icon.svg" class=".light" width="30" height="30" class="d-inline-block align-top" alt="list-icon">
    To-Do List app 
  </a>
</nav>

<div class="container">
  <router-outlet></router-outlet>

    <footer class="mx-auto">
      <div class="inner">
        <p>Copyright © 2020 by Jaime Rojas <a href="https://twitter.com/JaimeRo72537531">@JaimeRo72537531</a>, All rights Reserved.</p>
      </div>
    </footer>

</div>